@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(186, 189, 196);
}

.logo {
  width: 48px;              
  height: 48px;
  object-fit: contain;       
  /* animation: rotate-animation 5s infinite linear;
  transform-style: preserve-3d; */
  margin: 20px;
}

@keyframes rotate-animation {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
